html {
    background-image: url("hechas-estrellas_0.jpg");
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 95%;
  margin: 0 auto;
}

/* cabecera */

header {
    padding: 15px;
    text-align: center;
}

#logotipo {
    height: 200px;
}

header h1 {
    font-size: 40px;
    color: #CF993A;
}

/* menú horizontal */

nav {
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: #CF993A;
    text-align: center;
    padding: 20px 50px;
    text-decoration: none;
    font-size: 20px;
}

nav form {
    display: block;
    text-align: center;
    padding: 20px 50px;
    text-decoration: none;
    font-size: 20px;
}

nav .active:hover {
    background-color: #8D611E;
}

nav #buscador {
    float:right;
    background-color:#CF993A ;
}

/* contenido */

   main {
    display: flex;
    padding: auto;
    margin-bottom: 10px;
  }

  form {
      background-color:#8D611E;
  }

  aside {
    flex: 1;
    margin-left: 10px;
    background-color: #333;
    color: #CF993A;
  }

  aside h2 {
    text-align: center;
  }

  aside h3 {
      margin-left: 10px;
  }
  
  aside li {
    padding-bottom: 10px;
  }

  aside a {
      color: white;
  }

/* pie */

footer {
    padding: 20px;
    text-align: center;
    background: #333;
    color: #CF993A;
}